<div
  class="card"
  style="width: 18rem;margin:10px; width:96% ; padding:10px;text-align: center;"
>
  <h2>Juros Simples</h2>
  <div>
    <label for="cn">Capital Inicial</label><br />
    <input id="cn" [(ngModel)]="ci" style="width: 100px;" /><br />
    <strong>X</strong><br />
    <label for="tx">Taxa de Juros</label><br />
    <input id="tx" [(ngModel)]="tx" style="width: 100px;" /><br /><strong
      >X</strong
    ><br />
    <label for="ta">Tempo da Aplicação</label><br />
    <input id="ta" [(ngModel)]="ta" style="width: 100px;" /><br /><strong
      >=</strong
    ><br />
    <div class="card">{{ jurosSimples() }}</div>
  </div>
</div>
