<div
  class="card"
  style="width: 18rem;margin:10px; width:96% ; padding:10px;text-align: center;"
>
  <h2>Montante Acumulado</h2>
  <div>
    <label for="ci">Capital Investido</label><br />
    <input id="ci" [(ngModel)]="ci" style="width: 100px;" /><br />
    <strong>X</strong><br />
    <label for="txc">Taxa de Juros</label><br />
    <input id="txc" [(ngModel)]="tx" style="width: 100px;" /><br /><strong
      >X</strong
    ><br />
    <label for="tac">Tempo da Aplicação</label><br />
    <input id="tac" [(ngModel)]="ta" style="width: 100px;" /><br /><strong
      >=</strong
    ><br />
    <div class="card">{{ montanteAcumulado() }}</div>
  </div>
</div>
